/* ---------------------------------------------
    FONT & RESET CSS
--------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Palanquin:wght@300&display=swap');
@import "theme-variables.css";


/* ---------------------------------------------
    GENERAL RESET
--------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header, nav, section, article, aside, footer, hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: var(--primaryFontStyle);
  font-weight: 400;
  background-color: #fff;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, a:visited {
  text-decoration: none !important;
  color: var(--textActiveColor);
}

a:hover,
a:active,
a:visited:hover,
a:visited:active {
  color: var(--textHoverColor);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primaryFontColor);
}

ul {
  margin-bottom: 0;
}

p {
  font-size: 15px;
  line-height: 25px;
  color: var(--primaryFontColor);
}

img {
  pointer-events: none;
}

@media (max-width: 768px) {
  .hide-image-on-mobile {
    display: none;
  }

}


/* ---------------------------------------------
    GLOBAL STYLES
--------------------------------------------- */
html,
body {
  background: var(--primaryBackground);
  font-family: var(--primaryFontStyle);
}

p {
  font-family: var(--secondaryFontStyle);
}

::selection {
  background: var(--selectionBackground);
  color: var(--selectionColor);
}

::-moz-selection {
  background: var(--selectionBackground);
  color: var(--selectionColor);
}

@media (max-width: 991px) {
  html, body {
    overflow-x: hidden;
  }
  .mobile-top-fix {
    margin-top: 30px;
    margin-bottom: 0;
  }
  .mobile-bottom-fix {
    margin-bottom: 30px;
  }
  .mobile-bottom-fix-big {
    margin-bottom: 60px;
  }
}

a.main-button-slider {
  font-size: 14px;
  border-radius: 25px;
  padding: 15px 25px;
  background-color: var(--primaryButton);
  text-transform: uppercase;
  color: var(--buttonFontColor);
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a.main-button-slider:hover {
  background-color: var(--hoverColor);
}

a.main-button {
  font-size: 14px;
  border-radius: 25px;
  padding: 15px 25px;
  background-color: var(--primaryButton);
  text-transform: uppercase;
  color: var(--buttonFontColor);
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a.main-button:hover {
  background-color: var(--hoverColor);
}

button.main-button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 25px;
  padding: 15px 25px;
  background-color: var(--primaryButton);
  text-transform: uppercase;
  color: var(--buttonFontColor);
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

button.main-button:hover {
  background-color: var(--hoverColor);
}


.center-heading {
  margin-bottom: 70px;
}

.center-heading h2 {
  margin-top: 0;
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  color: var(--primaryFontColor);
  margin-bottom: 25px;
}

.center-heading h2 em {
  font-style: normal;
  color: var(--boldFontColor);
}

.center-heading p {
  font-size: 15px;
  color: var(--primaryFontColor);
  text-align: center;
}

.left-image-decor {
  background-image: url(../images/left-bg-decor.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  display: inline-block;
  height: 110%;
  margin-top: -200px;
}

.text-glow {
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px var(--primaryBackground), 0 0 20px var(--primaryBackground), 0 0 30px var(--primaryBackgroundDarker), 0 0 40px var(--primaryBackgroundDarker), 0 0 50px var(--primaryBackgroundDarker), 0 0 60px var(--primaryBackgroundDarker), 0 0 70px var(--primaryBackgroundDarker);
  }

  to {
    text-shadow: 0 0 20px var(--primaryBackground), 0 0 30px var(--primaryBackground), 0 0 40px var(--primaryBackground), 0 0 50px var(--primaryBackground), 0 0 60px var(--primaryBackground), 0 0 70px var(--primaryBackground), 0 0 80px var(--primaryBackground);
  }
}


/* ---------------------------------------------
    PRELOADER
--------------------------------------------- */
#preloader {
  overflow: hidden;
  background-image: linear-gradient(145deg, var(--primaryBackground) 0%, var(--primaryBackgroundDarker) 100%);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999;
  color: #fff;
}

#preloader .jumper {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  width: 50px;
  height: 50px;
}

#preloader .jumper > div {
  background-color: var(--secondaryBackground);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 50px;
  -webkit-animation: jumper 1s 0s linear infinite;
  animation: jumper 1s 0s linear infinite;
}

#preloader .jumper > div:nth-child(2) {
  -webkit-animation-delay: 0.33333s;
  animation-delay: 0.33333s;
}

#preloader .jumper > div:nth-child(3) {
  -webkit-animation-delay: 0.66666s;
  animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
