@import "theme-variables.css";

/*#sponsors .card {*/
/*    background-color: #C97CD820;*/
/*    border-radius: 15px;*/
/*}*/

/*#sponsors img {*/
/*    width: 465px;*/
/*}*/

#sponsors .image-container {
    height: 200px;
}

#sponsors .image-restrictions {
    max-height: 330px;
    max-width: 275px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 975px) {
    #sponsors .image-restrictions {
        max-width: 225px;
    }
}

@media (max-width: 767px) {
    #sponsors .image-restrictions {
        max-width: 150px;
    }
}