 /*
    Color picker I used
    https://coolors.co/a72608-fa9f42-fcff6c-3891a6-8783d1-aa9aba
 */

:root {
    /* ---------------------------------------------
        FONT STYLING
    --------------------------------------------- */
    --primaryFontStyle: 'Happy Monkey', cursive;
    --secondaryFontStyle: 'Palanquin', sans-serif;

    /* ---------------------------------------------
        DECLARED COLORS
    --------------------------------------------- */
    --color1: #EF6351;
    --color2: #FCE1A7;
    --color3: #C97CD8;
    --color4: #DCFFDE;
    --color5: #253D5B;

    /* ---------------------------------------------
        GENERAL COLORS
    --------------------------------------------- */
    --hoverColor: var(--color1);
    --activeColor: var(--color3) !important;
    --textHoverColor: var(--color1);
    --textActiveColor: var(--color3);

    /* ---------------------------------------------
        BACKGROUND COLORS
    --------------------------------------------- */
    --primaryBackground: var(--color5);
    --secondaryBackground: var(--color3);

    /* ---------------------------------------------
        BUTTON COLORS
    --------------------------------------------- */
    --buttonFontColor: white;
    --primaryButton: var(--color3);

    /* ---------------------------------------------
        FONT COLORS
    --------------------------------------------- */
    --primaryFontColor: white;
    --secondaryFontColor: var(--color3);
    --selectionColor: var(--color4);
    --selectionBackground: var(--color3);
    --boldFontColor: var(--color2);

    /* ---------------------------------------------
        BASIC COLORS
    --------------------------------------------- */
    --white: #fff;
    --neutralGray: #7a7a7a;
}