@import "theme-variables.css";

#tracks {
    padding: 100px 0px;
    position: relative;
    z-index: 9;
}

@media (max-width: 992px) {
    .tracks-item {
        margin-bottom: 45px;
    }
}

.tracks-item {
    border-radius: 5px;
    padding: 60px 30px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.tracks-item h2 {
    z-index: 9;
    position: absolute;
    top: 15px;
    left: 45px;
    font-size: 100px;
    font-weight: 600;
    color: #fdefe9;
}

.tracks-item img {
    z-index: 10;
    position: relative;
    max-width: 100%;
    margin-bottom: 40px;
}

.tracks-item h4 {
    margin-top: 0px;
    font-size: 22px;
    color: #1e1e1e;
    margin-bottom: 25px;
}

.tracks-item .main-button {
    margin-top: 35px;
    display: inline-block;
}
